SG_SST/Service References/GestposService/ws_login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx">
      <s:element name="obtenerLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:paramObtenerLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="paramObtenerLink">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modulo" type="tns:modulo" />
          <s:element minOccurs="0" maxOccurs="1" name="codi_usu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xml_params" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="modulo">
        <s:restriction base="s:string">
          <s:enumeration value="eval_plan_gestpos" />
          <s:enumeration value="furat_poscuida" />
          <s:enumeration value="furel_poscuida" />
        </s:restriction>
      </s:simpleType>
      <s:element name="obtenerLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerLinkResult" type="tns:rtaObtenerLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="rtaObtenerLink">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="valido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url_sitio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="validarLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:paramValidarLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="paramValidarLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xml_datos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="validarLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarLinkResult" type="tns:rtaValidarLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="rtaValidarLink">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="valido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xml_params" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xml_config" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerLinkSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerLink" />
  </wsdl:message>
  <wsdl:message name="obtenerLinkSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerLinkResponse" />
  </wsdl:message>
  <wsdl:message name="validarLinkSoapIn">
    <wsdl:part name="parameters" element="tns:validarLink" />
  </wsdl:message>
  <wsdl:message name="validarLinkSoapOut">
    <wsdl:part name="parameters" element="tns:validarLinkResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_loginSoap">
    <wsdl:operation name="obtenerLink">
      <wsdl:input message="tns:obtenerLinkSoapIn" />
      <wsdl:output message="tns:obtenerLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarLink">
      <wsdl:input message="tns:validarLinkSoapIn" />
      <wsdl:output message="tns:validarLinkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_loginSoap" type="tns:ws_loginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerLink">
      <soap:operation soapAction="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx/obtenerLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLink">
      <soap:operation soapAction="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx/validarLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_loginSoap12" type="tns:ws_loginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerLink">
      <soap12:operation soapAction="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx/obtenerLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLink">
      <soap12:operation soapAction="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx/validarLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_login">
    <wsdl:port name="ws_loginSoap" binding="tns:ws_loginSoap">
      <soap:address location="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_loginSoap12" binding="tns:ws_loginSoap12">
      <soap12:address location="http://services.positivaenlinea.gov.co/ws_token/ws_login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>